<br/>
<p>
<%= link_to image_tag("login-button.png"), "/auth/facebook" %> 
</p>

<br/>
<p>
Or if you've created a password, you can sign in with that password:  
</p>
<%= form_for :session, :url => session_path do |form| %>

  <div class="text_field control-group">
    <%= form.label :email, :class => "control-label"  %>
    <div class="controls">
      <%= form.text_field :email, :type => "email" %>
    </div>
  </div>
  <div class="text_field control-group">
    <%= form.label :password, :class => "control-label"  %>
    <div class="controls">
      <%= form.password_field :password %>
    </div>
  </div>
  <div class="submit_field control-group">
    <div class="controls">
      <%= form.submit "Sign in", :class => "btn btn-large btn-primary"  %>
    </div>
  </div>
<% end %>


<p> 
	<%= link_to "Sign up", sign_up_path %> |
    <%= link_to "Forgot password?", new_password_path %>
</p>